*
{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.drawer
{
  background: #001529 !important;
}

.ant-drawer-close
{
  color: #fff !important;
}

.ant-drawer-header
{
  padding: 20px 5px 5px 20px !important;
}


body
{
  background: #001529;
}

a
{
  color: #fff;
}
 
/* body
{
  background: #1c232e;
}


.navbar,
.navbar, div, li, ul
{
  background: #1c232e !important;
}

.navbar.ant-menu-submenu-arrow
{
  color: #fff !important;
}

.ant-menu-item-group-title
{
  color: #fff !important;
}


.ant-menu-item:hover,
.ant-menu-submenu-title:hover
{
  background: #ffffff2e !important;
}  

*/


.ant-menu-item:hover,
.ant-menu-submenu-title:hover
{
  background: #635f5f2e !important;
}  

.mobile_menu
{
  display: none;
  padding: 20px;
  /* box-shadow: 0 10px 10px 10px #fff !important; */
  /* border-bottom: 1px solid #eee; */
}

.menu
{
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.ant-menu-item-group-title
{
  display: none;
}

.ant-menu
{
  background: #001529 !important;
}


@media (max-width:500px) {
  .mobile_menu
  {
    display: block;
  }
  .desktop_menu
  {
    display: none;
  }
}
